/* Ricardo Arévalo all rights reserved */
/* V.1.0 - 2020 */
:root {
    --titles:'Ropa Sans', sans-serif;
    --text: 'Barlow', sans-serif;
    --colorKey: #121235;
    --colorComp: #49F2A0;
    --colorLight1: #B9B9FF;
    --colorLight2: #E7FFF3;
}

/* LAYOUT */
body {
    font-family: var(--text);
    font-size: 16px;
    overflow-x: hidden;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--titles);
    color: var(--colorKey);
}

h2 {
    font-size: 30px;
}
a:hover {
    text-decoration: none;
}
.contentWrapper {
    margin-top: -210px;
}
.generalContent {
    padding-top: 50px;
}
.container-fluid {
    max-width: 1450px;
}
.upperSpacer {
    margin-top: 60px;
}
.lateralSpacer {
    margin-left: 50px !important;
}
.articleSpacer {
    height: 130px;
    display: block;
    width: 100%;
}

article,
footer {
    padding-left: 30px;
    display: block;
    clear: both;
}

/* HEADER */
.brand {
    position: fixed;
    height: 100vh;
    display: block !important;
}
.ricardoText {
    position: absolute;
    bottom: 50px;
    margin-left: 9px;
}
.description {
    line-height: 19px;
    max-width: 440px;
    margin-top: 16px;
}
.socialLinks {
    font-size: large;
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: right;
    margin-top: 15px;
}
.socialLinks a {
    margin: 0 8px;
    color: var(--colorKey);
    transition: all .3s ease-in;
}
.socialLinks a:hover {
    color: var(--colorLight1);
}
/* MENU */
nav.menu {
    position: relative;
    z-index: 5;
}
@keyframes menuAnimate {
   0% {margin-top: 0px;}
  70% {margin-top: -120px;}
 100% {margin-top: -113px;}
}
.fixedMenu {
    position: fixed !important;
    animation-name: menuAnimate;
    animation-duration: 2s;
    margin-top: -113px;
    z-index: 5;
}

.menu ul{
    padding: 0 0 0 0px;
    list-style: none;
    font-size: 18px;
}
.menu ul li a {
    font-family: var(--titles);
    color: var(--colorKey);
    transition: all .5s ease;
}
.menu ul li a:hover:after {
    content: "-";
    display: inline-block;
    margin-left: 5px;
    color: var(--colorComp);
    font-size: 1.5em;
    line-height: 0px;
    vertical-align: middle;
}
/* UI COMPONENTS */
/* Banner */
.textBanner {
    padding-top: 100px;
    max-width: 488px;
    /* padding-left: 0px; */
}
.textBanner h1 {
    font-family: var(--text);
    line-height: 42px;
    font-size: 41px;
    letter-spacing: 5px;
}
.imgBanner {
    position: relative;
    z-index: -1;
    margin-left: -220px
}
.imgBanner img {
    width: 89%;
    max-height: 476px;
}
.imgBanner i{
    position: absolute;
    transform: rotate(-90deg);
    
    right: -22px;
    top: 85px;
    opacity: .7;
    
}

/* Portfolio projects */
.porfolioProjects h2 {
    margin-bottom: 40px;
}
.porfolioProjects h2 small{
 font-size: 18px;
 font-family: var(--text)
}
.project {
    padding: 20px;
}
.project img {
margin-bottom: 30px;
text-align: center;
}
.project p {
    line-height: 20px;
}
/* Buttons */
.primaryBtn {
    padding: 10px 20px;
    background: var(--colorComp);
    border-radius: 4px;
    color: var(--colorKey);
    font-size: 18px;
    margin: 40px 0 0 0;
    display: inline-block;
    border: 1px solid var(--colorComp);
    font-weight: 500;
    transition: all .5s ease-in-out;
}

.secondaryBtn {
    padding: 10px 20px;
    background: var(--colorKey);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    margin: 40px 0 0 0;
    display: inline-block;
    border: 1px solid var(--colorKey);
    transition: all .5s ease-in-out;
}
.primaryBtn:hover,
.secondaryBtn:hover {
    background:white;
    color: var(--colorKey);
    text-decoration: none;
    border: 1px dashed var(--colorKey);
}

/* Clients */

.clients h2 {
    margin-bottom: 40px;
}
.imgLateral {
    position: absolute;
    margin: -300px 0 0 0;
    right: -20px;
}
.clients ul {
    max-width: 300px;
}
.clients ul li{
    margin-bottom: 17px;
    line-height: 21px;
}

/* Call to Action */
.call .imgLateral {
    position: absolute;
    right: -20px;
    margin: 0;
}
.call h2 {
    margin-top: 60px;
    font-family: var(--text);
    font-size: 51px;
    line-height: 47px;
    margin-left: 30px;
}
.call a{
    margin-top: 90px;

}

/* Footer */
footer {
    padding-bottom: 40px;
}
.contactFooter {
    font-size: 30px;
    color: var(--colorKey);
    clear: both;
    display: table;
    transition: all .5s ease-in-out;
    font-weight: 500;
}
.contactFooter:hover {
    color: var(--colorLight1);
}


/* PORTAFOLIO */
.head {
    height: 450px;
    padding: 170px 0 0 0;
    margin-top: -80px
}
.head p {
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 30px;
}
.head p span {
    background-color: rgba(73, 242, 160, 0.89);
}
.portfolio {
    
    background: url(../img/ui/portfolio.png) no-repeat;
    background-position: 80px 0;
    
}
#project .fixedMenu, 
#portafolio .fixedMenu{
    position: relative !important;
    margin-top: 0px !important;
    animation-name: none !important;
}
.projectsGroup {
    margin: 0 auto;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 0%;
}
.itemProject {
    border-radius: 4px;
}
.itemProject .imgWrapper {
    width: 25%;
    max-height: 50vh;
    overflow: hidden;
    border-radius: 4px;
    float: left;
    z-index: -1;
}
.itemProject .infoWrapper{
    float: left;
    width: 60%;
    padding: 30px 0 0 50px
}
.itemProject img {
    transition: all .3s ease-in-out;
    height: 100%;
    margin-left:-80px;
}
.itemProject div {
    color: var(--colorKey);
}
.itemProject .category {
    margin: 0;
    background-color: white;
    padding: 0px 3px;
    display: inline-block;
    border-radius: 2px;
    font-size: small;
}
.itemProject .infoWrapper h2{
    font-size: 60px;
    line-height: 50px;
    font-family: var(--text)!important ;
    margin: 0 0 10px 0;
}

.itemProject:hover img{
    margin-left: 0;
}
.itemProject .infoWrapper ul {
    padding: 0;
}
.itemProject .infoWrapper li {
    display: inline-block;
    margin: 5px;
}


/* Breadcrums */
.breadcrums {
    width: 100%;
    font-size: 14px;
}
.breadcrums ul{
    list-style: none;
    text-align: right;
}
.breadcrums ul li{
    display: inline-block;
}
.breadcrums ul li::before{
    content: "-";
    padding:0 8px 0 5px;
    color: gray;
}
.breadcrums ul li:first-child::before{
    content: "";
}
.breadcrums a {
    color: gray;
}
.breadcrums a.actualPage {
    color: var(--colorKey);
    cursor: default;
}
/* Projects */
.project.head {
    height: auto;
    padding: 100px 0 0 0;
    margin-top: -80px
}
.project.head p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
}
.project.head img {
    width: 100%;
}
.project .tag{
    font-size: 16px !important;
    margin: 0px;
}
#project .explain {
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

.title {
    color: #878787;
    margin: 0;
}
.info {
    color: var(--colorKey);
    margin: 0 0 50px 0;
    font-size: 20px;
    line-height: 23px;
}

.disclaimer {
    font-size: 14px;
    color: #878787;
    text-align: right;
    width: 50%;
    float: right;
    margin-top: 50px;
}

/* Contacto */
#contacto .info {
    margin-bottom: 20px;
}
#contacto .imgLateral {
    margin: -30px;
    right: -20px;
}

form label{
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 6px;

}
form input.form-check-input {
    width: 20px;
    height: 20px;
    margin-left: -1.7rem;
}
form div.form-check {
    padding-left: 1.7rem;
}
form textarea.form-control,
form input.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-color: var(--colorKey);
}
form .form-control:focus {
    box-shadow: none;
}
form textarea.form-control {
    line-height: 1.1em;
    margin-top: 10px;
    display: block;
    overflow: hidden;
    transition: all .5s ease;
}